:root {
    color-scheme: dark;
}

body {
    background-color: #1d262f !important;
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

.coloured {
    background: linear-gradient(90deg, #6EE7B7, #4faadd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0.5rem;
}

h4 {
    background: linear-gradient(90deg, #57b9b3, rgb(79, 170, 221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-light .text-muted {
    color: #bbb !important;
}

.record-p {
    line-height: 0.8 !important;
}

.file-name {
    word-wrap: anywhere;
}

.gradient-mask {
    width: 4.11rem;
    background: linear-gradient(90deg, #6EE7B7, #4faadd);
    -webkit-mask-image: url('/images/logo.png');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-image: url('/images/logo.png');
    mask-repeat: no-repeat;
    mask-size: contain;
}

.counting-divs > div > div {
    overflow-x: auto;
}